{% extends "base.html" %}

{% block header %}
<h1>Events</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>Info</h3>
      <div class="content">
        {{ event }}
        <p><strong>unique id:</strong> {{ event.UniqueID }}</p>
        <p><strong>kind:</strong> {{ event.Kind.Name }}</p>
        <p><strong>{{ event.Owner.Type }}:</strong> {{ event.Owner.Name }}</p>
        <p><strong>{{ event.Target.Type }}:</strong> {{ event.Target.Value }}</p>
        <p><strong>started at:</strong> {{ event.StartTime }}</p>
        <p><strong>finished at:</strong> {{ event.EndTime }}</p>
        {% if event.Log %}
          <p><strong>Log:</strong></p>
          <div><pre>{{ event.Log|escape }}</pre></div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
