*.sw[a-z]
*.pyc
*.db
/abyss/static
/abyss/media
/abyss/local
/abyss/lib
/abyss/bin
/abyss/include
.DS_Store
.coverage
.venv
htmlcov
local_settings.py
tsuru_dashboard/apps/tests/example.tar.gz
tsuru_dashboard/static/js/pages/*.js
node_modules
coverage
build
dist
tsuru_dashboard.egg-info
