[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mock = "==2.0.0"
"flake8" = "==2.5.4"
coverage = "==4.1"
freezegun = "==0.3.7"
httpretty = "==0.8.14"
pylint-django = "==0.11.1"
autopep8 = "*"

[packages]
gunicorn = "*"
gevent = "*"
raven = "==4.2.3"
whitenoise = "==3.2.1"
django-settings-export = "==1.2.1"
tsuru-dashboard = {path = ".",editable = true}

[requires]
python_version = "2.7"
