{% extends "base.html" %}

{% load i18n %}

{% block header %}
<h1>{% trans 'Change Password' %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% if messages %}
			{% for message in messages %}
			<div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<form action="" method="post">
				{% csrf_token %}
				{{ form.as_p }}
				<p><button class="btn primary" type="submit">{% trans 'Apply' %}</button></p>
			</form>
		</div>
	</div>
</div>
{% endblock %}
