{% extends "base.html" %}

{% block header %}
<h1>Key add</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form action="" method="post">
				{% csrf_token %}
				{% if message %}
				<div class="alert alert-success">
					{{ message }}
				</div>
				{% endif %}
				{% if errors %}
				<div class="alert alert-error">
					{{ errors }}
				</div>
				{% endif %}
				<fieldset>
					<div class="clearfix control-group{% if form.errors.key %} error{% endif %}">
						<label>key</label>
						<textarea class="input-xlarge" name="{{ form.key.name }}" rows=8></textarea>
						<span class="help-inline">{{ form.errors.key }}</span>
					</div>
					<button class="btn primary" type="submit">Add</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}
