<!DOCTYPE html>
<html lang="en">
	<head>
		<title>tsuru web dashboard</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.login.css" />
	</head>
	<body>
		<div class="container">
			<div class="logo">
				<img src="{{ STATIC_URL}}img/brand.svg" alt="" />
			</div>
			{% if scheme_info.name == "oauth" %}
			<form class="form-signin" action="" method="get">
				<div class="form-actions">
					<a href="{{ authorize_url }}" class="btn btn-inverse">Login</a>
				</div>
				</form>
			{% else %}
			<form class="form-signin" action="" method="post">
				{% csrf_token %}
				{% if msg %}<div class="alert alert-error">{{ msg }}</div>{% endif %}
				<p>Enter username and password to continue.</p>
				<input type="text" class="input-block-level" placeholder="username" name="username">
				<input type="password" class="input-block-level" name="password">
				<div class="form-actions">
					<span class="pull-left"><a href="#" class="flip-link" id="to-recover">Lost password?</a></span>
					<span class="pull-right"><input type="submit" class="btn btn-inverse" value="Login" /></span>
				</div>
			</form>
			{% endif %}
		</div> <!-- /container -->
	</body>
</html>
