{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form class="well">
            <h2>Sign up</h2>
            <form id="signup" action="">
                <fieldset>
                    <div class="clearfix">
                        <label>email</label>
                        <input type="text" placeholder="type your email here…" class="span3">
                    </div>

                    <div class="clearfix">
                        <label>password</label>
                        <input type="password" placeholder="type your password..." class="span3">
                    </div>
            
                    <div class="clearfix">
                        <label>check that password pls</label>
                        <input type="password" placeholder="type that same password again..." class="span3">
                    </div>
                    
                    <button class="btn" type="submit">Submit</button>
                </fieldset>
            </form>
        </form>
    </div>
{% endblock content %}
