{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form class="well" id="signup" action="/signup" method="POST">
            {% csrf_token %}
            <h2>Sign up</h2>
            <fieldset>
                <div class="clearfix control-group{% if signup_form.errors.email %} error{% endif %}">
                    <label>email</label>
                    <input type="text" name="{{signup_form.email.name}}" placeholder="type your email here…" class="span3" value="{{signup_form.email.value}}">
                    <span class="help-inline">{{signup_form.errors.email}}</span>
                </div>

                <div class="clearfix control-group{% if signup_form.errors.password %} error{% endif %}">
                    <label>password</label>
                    <input type="password" name="{{signup_form.password.name}}" placeholder="type your password..." class="span3">
                    <span class="help-inline">{{signup_form.errors.password}}</span>
                </div>
        
                <div class="clearfix control-group{% if signup_form.errors.same_password_again %} error{% endif %}">
                    <label>check that password pls</label>
                    <input type="password" name="{{signup_form.same_password_again.name}}" placeholder="type that same password again..." class="span3">
                    <span class="help-inline">{{signup_form.errors.same_password_again}}</span>
                </div>
                
                <button class="btn" type="submit">Submit</button>
            </fieldset>
        </form>
    </div>
{% endblock content %}
