{% extends "base.html" %}

{% block content %}
          <div class="row">
              <div class="team-form">
                  <h2>Team</h2>
                  <form action="" method="post">
                     {% csrf_token %}
                     {% if message %}
                        <div class="alert alert-success">
                           {{ message }}
                        </div>
                     {% endif %}
                     {% if error %}
                        <div class="alert alert-error">
                           {{ error }}
                        </div>
                     {% endif %}
                     <fieldset>
                        <div class="clearfix">
                            <label>name</label>
                            <input type="text" name="{{ form.name.name }}" placeholder="Type a name for your team...">
                        </div>
                        <button class="btn primary" type="submit">Create</button>
                     </fieldset>
                  </form>
              </div>
          </div>
{% endblock content %}
