{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Abyss - The Tsuru web admin</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.login.css" />
	</head>
	<body>
		<div class="container">
			<div class="logo">
				<img src="{{ STATIC_URL}}img/logo.png" alt="" />
			</div>

			<p>{% trans "You've successfully started the password reset process." %}</p>
			<p>{% trans 'Please check your email.' %}</p>
		</div> <!-- /container -->
	</body>
</html>
