{% extends "base.html" %}
{% load filters_deploys %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
<link rel="stylesheet" href="{{ STATIC_URL}}css/deploy-diff.css" />
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" with active="deploys" %}
{% endblock %}

{% block header %}
<h1>Admin/Deploys</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="widget">
                <div class="title">
                    <span class="icon">
                        <i class="icon-signal"></i>
                    </span>
                    <h5>Info</h5>
                </div>
                <div class="content">
                    <p><strong>App:</strong> {{ deploy.App }}</p>
                    <p><strong>Duration:</strong> {{ deploy.Duration|time_to_string }}</p>
                    <p><strong>Timestamp:</strong> {{ deploy.Timestamp|string_to_date|date:" d-m-Y H:i:s " }}</p>
                    <p><strong>Last Commit:</strong> {{ deploy.Commit }}</p>
                    {% if deploy.Error %}<p><strong>Error:</strong> {{ deploy.Error }}</p>{% endif %}
                    <p><strong>Diff:</strong></p>{{ deploy.Diff|safe }}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
