{% extends "base.html" %}
{% load filters_deploys %}

{% block sidebar %}
    {% include "sidebar.html" with active="deploys" %}
{% endblock %}

{% block header %}
    <h1>Admin/Deploys</h1>
{% endblock %}

{% block extra_css %}
<style>
    .deploys th, .deploys td {
        text-align: left;
    }

    .deploys .to-right {
        text-align: right;
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span11">
			<form action="" method="get" id="filter">
				<select id="listfilter" name="service">
					<option value="">Select Service</option>
					{% for service in services %}
                        <option value="{{ service }}"{% if current == service %} selected{% endif %}>{{ service }}</option>
					{% endfor %}
				</select>
			</form>
			<table class="deploys table" id="list">
                <thead>
                    <tr>
                        <th>App</th>
                        <th class="to-right ">Duration</th>
                        <th class="to-right ">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for deploy in deploys %}
                    <tr class="{% if deploy.Error %}error{% endif %}">
			<td class='app'>{{ deploy.App }}{% if deploy.Error %} - {{ deploy.Error }}{% endif %}</td>
                        <td class='to-right'>{{ deploy.Duration|string_to_time }}</td>
                        <td class='to-right'>{{ deploy.Timestamp|string_to_date|date:" d-m-Y H:i:s " }}</td>
                    </tr>
                    {% endfor %}
                <tbody>
			</table>
			{% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script>
    $("#listfilter").change(function() {
        $("#filter").submit();
    });
</script>
{% endblock %}
