{% extends "base.html" %}
{% load filters_deploys %}
{% block sidebar %}
{% include "sidebar.html" with active="deploys" %}
{% endblock %}

{% block header %}
<h1>Admin/Deploys</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span11">
			<form action="" method="get" id="filter">
				<select id="listfilter" name="service">
					<option value="">Select Service...</option>
					{% for service in services %}
					<option value="{{ service }}"{% if current == service %} selected{% endif %}>{{ service }}</option>
					{% endfor %}
				</select>
			</form>
			<table class="table" id="list">
				<tr>
				<th>App</th>
				<th>Timestamp</th>
				<th>Duration</th>
				</tr>
				{% for deploy in deploys %}
				<tr>
				<td href="#">{{ deploy.App }}</td>
				<td href="#">{{ deploy.Timestamp|string_to_date|date:" d-m-Y H:i:s " }}</td>
				<td href="#">{{ deploy.Duration|string_to_time }}</td>
				</tr>
				{% endfor %}
			</table>
			{% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/jquery-1.4.2.min.js"></script>
<script>
$("#listfilter").change(function() {
	$("#filter").submit();
});
</script>
{% endblock %}
