{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/metrics/components/metrics.css" %}">
<link rel="stylesheet" href="{% static "css/pages/node-info.css" %}">
{% endblock %}

{% block sidebar %}
	{% include "sidebar.html" with active="docker" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12" id="node-info"></div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/jquery.flot.min.js" %}"></script>
<script src="{% static "js/jquery.flot.time.min.js" %}"></script>
<script src="{% static "js/jquery.flot.tooltip.min.js" %}"></script>
<script src="{% static "js/node-info.js" %}"></script>
{% endblock %}
