{% extends "base.html" %}

{% load i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>{% trans 'Dashboard' %}</h1>
			</div>
		</div>
	</div>
</div>
<ul class="breadcrumb">
	<li class="active"><a href="#"><i class="icon-home"></i> {% trans 'Home' %}</a></li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% if quota %}
			<div class="widget">
				<div class="title">
					<span class="icon">
						<i class="icon-signal"></i>
					</span>
					<h5>{% trans 'Quota' %}</h5>
				</div>
				<div class="content units-box">
					<div class="span1">
						<div class="stats right">
							<strong id="units">{{ quota.items|default:""|length }}</strong>
							<span>{% trans 'used' %}</span>
						</div>
					</div>
					<div class="span1">
						<div class="stats right">
							<strong id="units">{{ quota.available }}</strong>
							<span>{% trans 'availabe' %}</span>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
