{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>Dashboard</h1>
			</div>
		</div>
	</div>
</div>
<ul class="breadcrumb">
	<li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% if quota %}
			<div class="widget">
				<div class="title">
					<span class="icon">
						<i class="icon-signal"></i>
					</span>
					<h5>Quota</h5>
				</div>
				<div class="content units-box">
					<div class="span1">
						<div class="stats right">
							<strong id="units">{{ quota.items|length }}</strong>
							<span>used</span>
						</div>
					</div>
					<div class="span1">
						<div class="stats right">
							<strong id="units">{{ quota.availabe }}</strong>
							<span>availabe</span>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
