{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
{% endblock %}

{% block header %}
<h1>Quota info</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% if quota %}
			<div class="widget">
				<div class="title">
					<span class="icon">
						<i class="icon-signal"></i>
					</span>
					<h5>Quota</h5>
				</div>
				<div class="content units-box">
					<div class="span1">
						<div class="stats right">
							<strong id="units">{{ quota.items|default:""|length }}</strong>
							<span>used</span>
						</div>
					</div>
					<div class="span1">
						<div class="stats right">
							<strong id="units">{{ quota.available }}</strong>
							<span>available</span>
						</div>
					</div>
				</div>
			</div>
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
