{% extends "base.html" %}
{% load filters %}
{% block sidebar %}
{% include "sidebar.html" with active="deploys" %}
{% endblock %}

{% block header %}
<h1>Deploys</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<table class="table">
				<tr>
				<th id="deploy_app">ID</th>
				<th id="deploy_timestamp">AppName</th>
				<th id="deploy_duration">Type</th>
				</tr>
				{% for deploy in deploys %}
				<tr>
				<td headers="deploy_app">{{ deploy.App }}</td>
				<td headers="deploy_timestamp">{{ deploy.Timestamp|string_to_date|date:" d-m-Y H:i:s " }}</td>
				<td headers="deploy_duration">{{ deploy.Duration|string_to_time }}</td>
				</tr>
				{% endfor %}
			</table>
			{% if is_paginated %}{% load paginator %}{% paginator 2 %}{% endif %}
		</div>
	</div>
</div>
{% endblock %}
