{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<h1>{{ team_name }}</h1>
			</div>
		</div>
	</div>
</div>
<ul class="breadcrumb">
	<li><a href="#"><i class="icon-home"></i> Home</a><span class="divider">/</span></li>
	<li class="active"><a href="{% url 'team-list' %}"> Teams</a></li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
		</div>
	</div>
</div>
{% endblock %}
