{% extends "base.html" %}

{% load i18n %}

{% block header %}
<div class="page-header">
	<div class="btn-group pull-right">
		<a class="btn" title="Create Team" href="{% url 'team-add' %}"><i class="icon-plus"></i></a>
	</div>
	<h1>{% trans 'Teams' %}</h1>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% for team in teams %}
			<div class="row-fluid">
				<div class="span11">
					<p><a href="{% url 'team-info' team.name %}">{{ team.name }}</a></p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
