{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<div class="btn-group pull-right">
					<a class="btn" title="Create Team" href="{% url 'team-add' %}"><i class="icon-plus"></i></a>
				</div>
				<h1>Teams</h1>
			</div>
		</div>
	</div>
</div>
<ul class="breadcrumb">
	<li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% for team in teams %}
			<div class="row-fluid">
				<div class="span11">
					<p>{{ team.name }}</p>
				</div>
				<div class="span1">
					<a href="{% url 'team-remove' team.name %}"> <i class="icon-remove"></i> </a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}
