{% extends "base.html" %}

{% block content %}
<div id="content-header">
	<h1>{{ app.name }}</h1>
</div>
<div class="container-fluid">
    <div class="app-teams">
        <div class="row title">
            <div class="span10">
                <h2>Teams</h2>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12 teams">
                {% for team in app.teams %}
                <div class="row-fluid team">
                    <div class="span10">
                        <span>{{ team }}</span>
                    </div>
                    <div class="span1 option team-add-member">
                        <a href="#" rel="tooltip" class="tooltips" data-placement="top" data-original-title="Add Team Member">
                            <i class="icon-plus-sign"></i>
                        </a>
                    </div>
                    <div class="span1 option team-add-member">
                        <a href="#" rel="tooltip" class="tooltips" data-placement="top" data-original-title="Remove Team Member">
                            <i class="icon-trash"></i>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="span10 team-create">
                <a href="{% url 'app-add-team' app.name %}" class="btn btn-info">Add Team</a>
            </div>
        </div>
        <div class="row-fluid app-menu">
            <div class="span8">
                <div class="span3">
                    <div class="span8 circle services-circle">
                        <a href="#">Services</a>
                    </div>
                </div>
                <div class="span3">
                    <div class="span8 circle log-circle">
                       <a href="{% url 'app_log' app.name %}">Log</a>
                    </div>
                </div>
                <div class="span3">
                    <div class="span8 circle circle-selected">
                        <span>Teams</span>
                    </div>
                </div>
                <div class="span3">
                    <div class="span8 circle settings-circle">
                        <a href="#">Settings</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
