{% extends "base.html" %}

{% block content %}
<div id="content-header">
	<h1>Teams</h1>
	{% include "apps/navbar.html" %}
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
	<a href="{% url 'list-app' %}" class="tip-bottom"> Apps</a>
	<a href="{% url 'list-app' %}" class="tip-bottom"> {{ app.name }}</a>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12 teams">
			{% for team in app.teams %}
			<div class="row-fluid">
				<div class="span10">
					<p>{{ team }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div class="row-fluid">
		<div class="span10 team-create">
			<a href="{% url 'app-add-team' app.name %}" class="btn btn-info">Add Team</a>
		</div>
	</div>
</div>
{% endblock content %}
