{% extends "base.html" %}

{% block extra_css %}
    <link href="{{ STATIC_URL }}css/apps.css" rel="stylesheet">
{% endblock extra_css %}

{% block content %}
    <div class="app-log">
        <a href="{% url list-app%}">Back</a>
        <div class="row title">
            <div class="span10 offset1">
                <h2>{{ app }}</h2>
                <span class="label my-label label-log">Log</span>
            </div>
        </div>
        <div class="row">
            <div class="span10 offset1 log">
                <ul>
                    {% for log in logs %}
                    <li>
                        {{ log.Date }} - {{ log.Message }}
                    </li>
                    {% endfor %}
                <ul>
            </div>
        </div>
    </div>
{% endblock content %}
