{% extends "base.html" %}

{% load i18n %}

{% block header %}
<h1>{% trans 'Log' %}</h1>
{% endblock %}

{% block breadcrumb %}
<li><a href="{% url 'list-app' %}"> {% trans 'Apps' %}</a><span class="divider">/</span></li>
<li class="active"><a href="{% url 'detail-app' app %}"> {{ app }}</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% for log in logs %}
			<p>
			<strong>{{ log.Date }}</strong> - {{ log.Message }}
			</p>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
