{% extends "apps/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
{% endblock %}

{% block app-content %}
	<div class="row-fluid">
		<div class="span12">
            <h3>Units</h3>
            <div class="content">
                <table class="table containers-app">
                    <tr>
                        <th>ID</th>
                        <th>State</th>
                        {% if request.session.is_admin %}
                        <th>HostAddr</th>
                        <th>HostPort</th>
                        {% endif %}
                    </tr>
                    {% for unit in app.units %}
                    <tr>
                        <td>{{ unit.Name }}</td>
                        <td>{{ unit.Status }}</td>
                        {% if request.session.is_admin %}
                        <td>{{ unit.HostAddr }}</td>
                        <td>{{ unit.HostPort }}</td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
	</div>
	{% if app.service_instances %}
	<div class="row-fluid">
		<div class="span12">
            <h3>Services</h3>
            <div class="content">
                <table class="table containers-app">
                    <thead>
                    <tr>
                        <th>service</th>
                        <th>name</th>
                    </tr>
                    </thead>
                    <tbody>
					{% for instance in app.service_instances %}
                    <tr>
                        <td>{{ instance.servicename }}</td>
                        <td>{{ instance.name }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
	</div>
    {% endif %}
</div>
{% endblock %}
