{% extends "base.html" %}

{% block content %}
    <div class="app-form">
        <a href="{% url list-app%}">Voltar</a>
        <h2>{{app.Name}}</h2>
        <p><b>Repositório:</b> {{app.Repository}}</p>
        <p><b>Times:</b> {{app.Teams|join:", "}}</p>
        <p><b>Framework:</b> {{app.Framework}}</p>
        <p><b>Status:</b> {{app.State}}</p>

        <a href="#">Serviços</a> | 
        <a href="#">Log</a> | 
        <a href="#">Time</a> | 
        <a href="#">Settings</a>
    </div>
{% endblock content %}
