{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				{% include "apps/navbar.html" %}
				<h1>{{ app.name }}</h1>
			</div>
		</div>
	</div>
</div>
<ul class="breadcrumb">
	<li><a href="#"><i class="icon-home"></i> Home</a><span class="divider">/</span></li>
	<li class="active"><a href="{% url 'list-app' %}"> Apps</a></li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="title">
					<span class="icon">
						<i class="icon-signal"></i>
					</span>
					<h5>Units</h5>
				</div>
				<div class="content units-box">
					<div class="span2">
						<ul class="stat-boxes">
							<li class="popover-tickets" data-original-title="" title="">
							<div class="right">
								<strong id="units">{{ app.units|length }}</strong>
								Instances
							</div>
							</li>
						</ul>
					</div>
					<div class="span4">
						<div id="h-slider"></div>
					</div>
					<div class="span4">
						<form method="post" action="{% url 'change-units' app.name %}">
							{% csrf_token %}
							<input type="hidden" name="units" value={{ app.units|length }}>
							<button href="#" class="apply-btn btn btn-primary btn-mini">
								apply changes
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="title">
					<span class="icon">
						<i class="icon-signal"></i>
					</span>
					<h5>Info</h5>
				</div>
				<div class="content">
					<p><strong>App url:</strong> <a href="http://{{ app.ip }}" target="_blank">http://{{ app.ip }}</a></p>
					<p><strong>Git clone url:</strong> {{ app.repository }}</p>
					<p><strong>Domain:</strong> {{ app.cname }}</p>
					<p><strong>Teams:</strong> {{ app.teams|join:", " }}</p>
					<p><strong>Framework:</strong> {{ app.framework }}</p>
				</div>
			</div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
			<div class="widget">
				<div class="title">
					<span class="icon">
						<i class="icon-signal"></i>
					</span>
					<h5>Dangerous!</h5>
				</div>
				<div class="content">
					<a class="btn btn-danger" href="{% url 'remove_app' app.name %}"><i class="icon-remove icon-white"></i> Delete app</a>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block extra_js %}
<script src="{{ STATIC_URL}}js/jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/jquery-ui.custom.js"></script>
<script src="{{ STATIC_URL }}js/apps/units.js"></script>
<script type="text/javascript">
	new $.Slider({{ app.units|length }});
</script>
{% endblock %}
