{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
				<div class="btn-group pull-right">
					<a class="btn" title="Create App" href="{% url 'create-app' %}"><i class="icon-plus"></i></a>
				</div>
			 	<h1>Apps</h1>
			</div>
		</div>
	</div>
</div>
<ul class="breadcrumb">
	<li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% for app in apps %}
			<div class="row-fluid">
				<div class="span9 app-name">
					<a href="{% url 'detail-app' app.name %}" rel="tooltip" class="tooltips" data-placement="left" data-original-title="App Details"> {{ app.name }} </a>
				</div>
				<div class="span1 option app-log">
					<a href="{% url 'app_log' app.name %}" rel="tooltip" class="tooltips" data-placement="top" data-original-title="Log"> <i class="icon-tasks"></i> </a>
				</div>
				<div class="span1 option app-collaborators">
					<a href="{% url 'app-teams' app.name %}" rel="tooltip" class="tooltips" data-placement="top" data-original-title="Collaborators"> <i class="icon-user"></i> </a>
				</div>
				<div class="span1 option app-settings">
					<a href="{% url 'detail-app' app.name %}" rel="tooltip" class="tooltips" data-placement="top" data-original-title="Settings"> <i class="icon-wrench"></i> </a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock content %}
