{% extends "apps/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock %}

{% block navbar %}
    {% include "apps/navbar.html" with active="metrics" %}
{% endblock %}

{% block app-content %}
	<div class="row-fluid metrics-container">
		<div class="span12">
				<div class="content">
						<div class="row-fluid">
							<div class="span12" id="metrics">
							</div>
						</div>
				</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/apps/graph.js"></script>
<script src="{{ STATIC_URL }}js/confirmation.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/detail.js"></script>
<script type="text/javascript">
var appName = "{{ app.name }}";
var envs = {};
{% for env in app.envs %}
	envs["{{ env.name }}"] = "{{ env.value }}";
{% endfor %}
$.detail(appName, envs);
</script>
{% endblock %}
