{% extends "apps/base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
<style>
h1 {
    display: inline-block;
}
</style>
{% endblock %}

{% block navbar %}
    {% include "apps/navbar.html" with active="metrics" %}
{% endblock %}

{% block app-content %}
	<div class="row-fluid">
		<div class="span12">
			<form method="GET">
				<div class="span2">
				<label>Time range:</label>
				<select name="from">
					<option value="1h/h">last hour</option>
					<option value="3h/h">last 3 hours</option>
					<option value="6h/h">last 6 hours</option>
					<option value="12h/h">last 12 hours</option>
					<option value="1d/d">last 24 hours</option>
					<option value="3d/d">last 3 days</option>
					<option value="1w/w">last 1 week</option>
					<option value="2w/w">last 2 weeks</option>
				</select>
				</div>
				<div class="span2">
				<label>Period:</label> 
				<select name="serie">
					<option value="1m">1 minute</option>
					<option value="5m">5 minutes</option>
					<option value="15m">15 minutes</option>
					<option value="1h">1 hour</option>
					<option value="6h">6 hours</option>
					<option value="1d">1 day</option>
				</select>
				</div>
				<div class="span1">
				<input type="hidden" name="kind">
				<input type="submit" value="filter">
				</div>
			</form>
		</div>
	</div>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
            <div class="content">
                <div class="row-fluid">
                    <div class="span12" id="metrics">
                    </div>
                </div>
            </div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/raphael-min.js" %}"></script>
<script src="{% static "js/morris.min.js" %}"></script>
<script src="{% static "js/apps/graph.js" %}"></script>
<script src="{% static "js/apps/metrics.js" %}"></script>
<script type="text/javascript">
	var appName = "{{ app.name }}";
	var envs = {};
	{% for env in app.envs %}
		envs["{{ env.name }}"] = "{{ env.value }}";
	{% endfor %}
	$.metrics(appName, envs);
</script>
{% endblock %}
