<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
                <a title="resources" href="{% url 'detail-app' app.name %}">resources</a>
            </li>
            <li>
                <a title="metrics" href="{% url 'app-metrics' app.name %}">metrics</a>
            </li>
            <li>
                <a title="deploys" href="{% url 'app-deploys' app.name %}">deploys</a>
            </li>
            <li>
                <a title="log" href="{% url 'app_log' app.name %}">log</a>
            </li>
            <li>
                <a title="settings" href="{% url 'app-settings' app.name %}">settings</a>
            </li>
        </ul>
    </div>
</div>
