<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
                <a title="Deploys" href="{% url 'app-deploys' app.name %}">deploys</a>
            </li>
            <li>
                <a title="Log" href="{% url 'app_log' app.name %}">log</a>
            </li>
            <li>
                <a title="Teams" href="{% url 'app-teams' app.name %}">teams</a>
            </li>
            <li>
                <a title="Settings" href="{% url 'detail-app' app.name %}">settings</a>
            </li>
        </ul>
    </div>
</div>
