<div class="navbar">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
                <a title="resources" href="">resources</a>
            </li>
            <li>
                <a title="metrics" href="">metrics</a>
            </li>
            <li>
                <a title="deploys" href="{% url 'app-deploys' app.name %}">deploys</a>
            </li>
            <li>
                <a title="log" href="{% url 'app_log' app.name %}">log</a>
            </li>
            <li>
                <a title="access" href="{% url 'app-teams' app.name %}">access</a>
            </li>
            <li>
                <a title="settings" href="{% url 'detail-app' app.name %}">settings</a>
            </li>
        </ul>
    </div>
</div>
