{% extends "apps/base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
{% endblock %}

{% block navbar %}
    {% include "apps/navbar.html" with active="settings" %}
{% endblock %}

{% block app-content %}
	<div class="row-fluid">
		<div class="span12">
            <h3>Info</h3>
            <div class="content">
                <p><strong>Git URL:</strong> {{ app.repository }}</p>
                <p><strong>Platform:</strong> {{ app.platform }}</p>
            </div>
        </div>
	</div>
	<div class="row-fluid">
		<div class="span10">
            <div class="content settings-toggle">
            <h3>Environment variables</h3>
            <p><a href=#>&#x25BC;</a> {{ app.envs|length }} enviroment variables</p>
            <table class="table hide">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                {% for env in app.envs %}
                {% if env.public %}
                <tr>
                    <td>{{ env.name }}</td>
                    <td>{{ env.value }}</td>
                </tr>
                {% endif %}
                {% endfor %}
                {% for env in app.envs %}
                {% if not env.public %}
                <tr>
                    <td>{{ env.name }}</td>
                    <td>******</td>
                </tr>
                {% endif %}
                {% endfor %}
                </tbody>
            </table>
            </div>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
            <h3>Domains</h3>
				<div class="content">
					<p>
					{% if app.cname or app.ip %}
						<strong>App url:</strong>
						<a href="http://{{ app.ip }}" target="_blank">http://{{ app.ip }}</a>
						{% for cname in app.cname %}
							<a href="http://{{ cname }}" target="_blank">http://{{ cname }}</a>
						{% endfor %}
					{% endif %}
					</p>
				</div>
			</div>
	</div>
	<div class="row-fluid">
		<div class="span12">
            <h3>Ownership</h3>
				<div class="content">
					<p><strong>Owner:</strong> {{ app.owner }}</p>
					<p><strong>Team owner:</strong> {{ app.teamowner }}</p>
					<p><strong>Teams:</strong> {{ app.teams|join:", " }}</p>
				</div>
			</div>
	</div>

	<div class="row-fluid">
		<div class="span12">
            <h3>Delete App</h3>
				<div class="content">
					<a class="btn btn-danger" href="#confirmation" data-toggle="modal"><i class="icon-remove icon-white"></i>
						Delete app</a>
				</div>
			</div>
	</div>

<div id="confirmation" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">Are you sure?</h3>
	</div>
	<div class="modal-body">
		<p>with {{ app.name }} This action CANNOT be undone. This will delete the <strong>{{ app.name }}</strong></p>

		<p>Please type in the name of your application to confirm.</p>
		<input type="text" class="remove-confirmation" />
	</div>
	<div class="modal-footer">
		<form method="get" action="{% url 'remove_app' app.name %}">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
			<button class="btn btn-danger btn-remove" disabled="disabled">Delete app</button>
		</form>
	</div>
</div>
{% endblock %}

{% block extra_js %}
<script src="{{ STATIC_URL }}js/apps/elasticsearch.jquery.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/graphite.js"></script>
<script src="{{ STATIC_URL }}js/apps/elasticsearch.js"></script>
<script src="{{ STATIC_URL }}js/apps/graph.js"></script>
<script src="{{ STATIC_URL }}js/confirmation.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.min.js"></script>
<script src="{{ STATIC_URL }}js/apps/detail.js"></script>
<script type="text/javascript">
var appName = "{{ app.name }}";
var envs = {};
{% for env in app.envs %}
	envs["{{ env.name }}"] = "{{ env.value }}";
{% endfor %}
$.detail(appName, envs);
$(".settings-toggle").on("click", function() {
    $("table", this).toggleClass("hide");
});
</script>
{% endblock %}
