{% extends "base.html" %}

{% block sidebar %}
{% include "sidebar.html" with active="apps(admin)" %}
{% endblock %}

{% block header %}
<h1>Admin/Apps</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span">  
            <table class="table containers-app">
                <tr>
                <th>Name</th>
                </tr>
                {% for app in apps %}
                <tr>
                <td><a href="{% url 'list-containers-by-app' app.name %}" title="App Containers">{{ app.name }}</a></td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}