{% extends "base.html" %}

{% block sidebar %}
{% include "sidebar.html" with active="apps(admin)" %}
{% endblock %}

{% block header %}
<h1>Admin/Containers - {{ appname }}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <div class="row-fluid">
                <div class="span11">
                    <table class="table">
                        <tr>
                        <th>ID</th>
                        <th>HostAddr</th>
                        <th>Type</th>
                        <th>IP</th>
                        <th>HostPort</th>
                        <th>Status</th>
                        </tr>
                        {% for container in containers %}
                        <tr>
                        <td>{{ container.ID|slice:":12" }}</td>
                        <td>{{ container.HostAddr }}</td>
                        <td>{{ container.Type }}</td>
                        <td>{{ container.IP }}</td>
                        <td>{{ container.HostPort }}</td>
                        <td>{{ container.Status }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
