{% extends "base.html" %}
{% load staticfiles %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/detail.css" %}">
<link rel="stylesheet" href="{% static "css/apps/apps.css" %}">
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" with active="apps" %}
{% endblock %}

{% block bar %}
<div class="bar">
  <a href="/">dashboard</a> <span class="arrow">></span>
  <a href="{% url 'list-app' %}">apps</a> <span class="arrow">></span>
  {{ app.name }}
</div>
{% endblock %}

{% block header %}
<div class="header-wrapper">
  <h1>{{ app.name }}</h1>
  {% if app.routers %}
  {% with router=app.routers|first %}
  {% if "https://" in router.address or "http://" in router.address %}
  <a href="{{ router.address }}" target="_blank">{{ router.address }}</a>
  {% elif router.address %}
  <a href="http://{{ router.address }}" target="_blank">http://{{ router.address }}</a>
  {% endif %}
  {% endwith %}
  {% endif %}
</div>
{% endblock %}

{% block content %}
<div class="container-fluid">
  {% block navbar %}
  {% endblock %}
  {% block app-content %}{% endblock %}
</div>
{% endblock content %}
