{% extends "apps/base.html" %}
{% load filters_deploys %}
{% load staticfiles %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/pages/event-list.css" %}">
<link rel="stylesheet" href="{% static "css/datepicker.css" %}">
{% endblock %}


{% block navbar %}
{% include "apps/navbar.html" with active="events" %}
{% endblock %}

{% block app-content %}
{% include "events/_list.html" %}
{% endblock %}

{% block extra_js %}
<script src="{% static "js/pages/event-list.js" %}"></script>
<script>
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
})
</script>
{% endblock %}
