{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Abyss - The Tsuru web admin</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Abyss - The Tsuru web admin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/intro.css" />
		{% block extra_css %}
		{% endblock extra_css %}
	</head>
	<body>
		{% include "navbar.html" %}

		<div class="step active">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Seja bem vindo!' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<p>Com o tsuru você não precisa preocupar-se com a infra, podendo concentrar-se no mais importante para você: <strong>sua aplicação</strong></p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<p>Mas antes de você começar a usar o tsuru para subir suas aplicações, clique no botão abaixo para ver como ele funciona</p>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">Continue</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							<div class="pull-right">
								<a class="btn create-app next" href="#" data-content="{% trans 'Clique aqui para criar aplicações' %}" data-placement="left"><i class="icon-plus"></i></a>
							</div>
							{% trans 'Crie sua app' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<p>A primeira coisa a fazer é clicar no botão '+' na 'pagina de listagem de apps' para criar sua aplicação.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Crie sua app' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<p>No formulário de criação, digite o nome de sua app</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<p>E escolha qual plataforma deseja utilizar.</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
							<fieldset>
								<div class="clearfix control-group">
									<label>{% trans 'Name' %}</label>
									<input type="text" class="input-xlarge" name="name" data-content="{% trans 'Nesse  campo você define o nome da sua aplicações. Você pode usar qualquer caracter alfanumérico e traços (-) no nome.' %}">
								</div>
								<div class="clearfix control-group">
									<label>{% trans 'Platform' %}</label>
									<input type="text" class="input-xlarge" name="platform" data-content="{% trans 'Aqui você diz em qual plataforma sua aplicação está escrita. As plataformas disponíveis são: python, ruby, php, html e node.js' %}">
								</div>
								<button class="btn next" type="submit">{% trans 'Add' %}</button>
							</fieldset>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Faça o deploy' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<iframe height="320px" width="500" frameborder="0"></iframe>
						<p>Após a criação da sua aplicação você pode fazer o deploy para ela usando o git.</p>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">Continue</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Pronto!' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<p>Com isso você já terá sua aplicação pronta para uso. :)</p>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">Continue</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Escale' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<p>Com sua aplicação deployada e funcionando, você pode 'escalá-la' aumentando o número de instancias dela.</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<div class="widget">
							<div class="title">
								<span class="icon">
									<i class="icon-signal"></i>
								</span>
								<h5>{% trans 'Units' %}</h5>
							</div>
							<div class="content units-box">
								<div class="span1">
									<div class="stats right">
										<strong id="units">1</strong>
										<span>{% trans 'Instances' %}</span>
									</div>
								</div>
								<div class="span4">
									<div id="h-slider"></div>
								</div>
								<div class="span4">
									<input type="hidden" name="units" value={{ app.units|length }}>
									<button href="#" class="apply-btn btn btn-primary btn-mini">
										{% trans 'apply changes' %}
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">Continue</button>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ STATIC_URL}}js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/language.js"></script>
		<script src="{{ STATIC_URL }}js/pipeline.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.custom.js"></script>
		<script src="{{ STATIC_URL }}js/apps/units.js"></script>
		<script type="text/javascript">
			new $.Slider(1);
			$('input[name="name"]').popover({'trigger': 'focus'});
			$('input[name="platform"]').popover({'trigger': 'focus'});
			$('input[name="platform"]').on("focus", function() {
				$('input[name="name"]').popover('hide');
			});
			$('input[name="name"]').on("focus", function() {
				$('input[name="platform"]').popover('hide');
			});
		</script>
			{% block extra_js %}
			{% endblock %}
		</body>
	</html>
