{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Abyss - The Tsuru web admin</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Abyss - The Tsuru web admin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/jquery-ui.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/detail.css" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/intro.css" />
		{% block extra_css %}
		{% endblock extra_css %}
	</head>
	<body>
		{% include "navbar.html" %}

		<div class="step active">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Welcome!' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<p>{% trans 'With Tsuru, you don’t need to think about infrastucture. You can focus on the most important thing for you: <strong>your application</strong>.' %}</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<p>{% trans 'Before you start using tsuru to deploy your applications, click on the button bellow and see how it works.' %}</p>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">{% trans 'How to create an application' %}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							<div class="pull-right">
								<a class="btn create-app" href="#" data-content="{% trans 'Click here to create applications' %}" data-placement="left"><i class="icon-plus"></i></a>
							</div>
							{% trans 'How to create an application' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<p>{% trans "The first thing to do in order to create your application is to click on the button '+' on the right top corner of your apps list page." %}</p>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">{% trans 'Creating an application' %}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Creating an application' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<p>{% trans 'Then type a name for your app.' %}</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<p>{% trans 'And select which platform it will use.' %}</p>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
							<fieldset>
								<div class="clearfix control-group">
									<label>{% trans 'Name' %}</label>
									<input type="text" class="input-xlarge" name="name" data-content="{% trans 'In this field, you define your application name. You can use any alphanumeric characters and dashes (-).' %}">
								</div>
								<div class="clearfix control-group">
									<label>{% trans 'Platform' %}</label>
									<input type="text" class="input-xlarge" name="platform" data-content="{% trans 'Here, you select in which platform your application is written. Available platforms are: python, ruby, php, node.js e html.' %}">
								</div>
								<button class="btn next" type="submit">{% trans 'Add' %}</button>
							</fieldset>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">{% trans 'Before deploy' %}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Before deploy' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="span12">
						<p>{% trans 'After creating your application, you will receive a git url for deploy.' %}</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<div class="widget">
							<div class="title">
								<span class="icon">
									<i class="icon-signal"></i>
								</span>
								<h5>{% trans 'Info' %}</h5>
							</div>
							<div class="content">
								<p>
									<strong>{% trans 'App url' %}:</strong> 
									<a href="#" target="_blank">http://appname.cloud.tsuru.io</a>
								</p>
								<p><strong>{% trans 'Git clone url' %}:</strong> git@cloud.tsuru.io:appname.git</p>
								<p><strong>{% trans 'Platform' %}:</strong> python</p>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">{% trans 'How to deploy' %}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'How to deploy' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<p>{% trans 'Add your application git url as a remote target in your git.' %}</p>
						<p>'git remote add tsuru git@cloud.tsuru.io:appname.git</p>
						<p>{% trans 'See how simple it is to deploy:' %}</p>
						<iframe height="320px" width="500" frameborder="0"></iframe>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">{% trans 'Scaling an application' %}</button>
					</div>
				</div>
			</div>
		</div>

		<div class="step">
			<div class="container">
				<div class="row">
					<div class="span12">
						<div class="page-header">
							{% trans 'Scaling an application' %}
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-content">
				<div class="row">
					<div class="span12">
						<p>{% trans 'From this point, your application is ready to use :)' %}</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<p>{% trans 'You can also scale it, by increasing the number of its instances.' %}</p>
					</div>
				</div>
				<div class="row">
					<div class="span12">
						<div class="widget">
							<div class="title">
								<span class="icon">
									<i class="icon-signal"></i>
								</span>
								<h5>{% trans 'Units' %}</h5>
							</div>
							<div class="content units-box">
								<div class="span1">
									<div class="stats right">
										<strong id="units">1</strong>
										<span>{% trans 'Instances' %}</span>
									</div>
								</div>
								<div class="span4">
									<div id="h-slider"></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="container intro-footer">
				<div class="row">
					<div class="span12">
						<button class="btn btn-primary next pull-right">{% trans 'Start now!' %}</button>
					</div>
				</div>
			</div>
		</div>
		<script src="{{ STATIC_URL}}js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/language.js"></script>
		<script src="{{ STATIC_URL }}js/pipeline.js"></script>
		<script src="{{ STATIC_URL }}js/jquery-ui.custom.js"></script>
		<script src="{{ STATIC_URL }}js/apps/units.js"></script>
		<script type="text/javascript">
			new $.Slider(1);
			$('input[name="name"]').popover({'trigger': 'focus'});
			$('input[name="platform"]').popover({'trigger': 'focus'});
			$('input[name="platform"]').on("focus", function() {
				$('input[name="name"]').popover('hide');
			});
			$('input[name="name"]').on("focus", function() {
				$('input[name="platform"]').popover('hide');
			});
		</script>
			{% block extra_js %}
			{% endblock %}
		</body>
	</html>
