{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
    <style>
        .span4 {
            height: 500px;
        }
    </style>
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" with active="docker" %}
{% endblock %}

{% block header %}
<h1>Admin/Nodes</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    {% for key, nodes in pools.items %}
    <div class="span4 {% if forloop.counter0|divisibleby:3 %}first{% endif %}">
            <div class="widget">
                <div class="title">
                    <h4>{{ key }}</h4>
                </div>
                <table class="table">
                    <tr>
                        <th>Host</th>
                        <th>Last success</th>
                    </tr>
                    {% for node in nodes %}
                    <tr>
                        <td>
                            <a href="{% url 'list-container' node.Address %}" title="Containers List">
                                {{ node.Address }}
                            </a>
                        </td>
                        <td>{{ node.Metadata.LastSuccess|date:"Y/m/d H:i:s e" }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
