{% extends "base.html" %}

{% block sidebar %}
{% include "sidebar.html" with active="docker" %}
{% endblock %}

{% block header %}
<h1>Admin/Nodes</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span11">
			<table class="table">
				<tr>
				<th>ID</th>
				<th>Host</th>
				</tr>
				{% for node in nodes %}
				<tr>
				<td><a href="{% url 'list-container' node %}" title="Containers List">{{ node }}</a></td>
				<td>{{ node.Address }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}
