<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Abyss - The Tsuru web admin</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Abyss - The Tsuru web admin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="/static/css/abyss.css" />
	</head>
	<body>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="page-header">
						Opps! The page requested is not found!
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
