<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Abyss - The Tsuru web admin</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Abyss - The Tsuru web admin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap-responsive.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.css" />
		{% block extra_css %}
		{% endblock extra_css %}
	</head>
	<body>
	<div class="row-fluid">
		<div class="menu span3">
			{% block sidebar %}
			{% include "sidebar.html" %}
			{% endblock %}
		</div>
		<div class="content span9">
			<div class="container-fluid">
				<div class="row-fluid">
					<div class="page-header">
						{% block header %}{% endblock %}
					</div>
				</div>
			</div>
			{% include "messages.html" %}
			{% block content %}
			{% endblock %}
		</div>
	</div>
		<script src="{{ STATIC_URL}}js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/language.js"></script>
		{% block extra_js %}
		{% endblock %}
	</body>
</html>
