{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Abyss - The Tsuru web admin</title>
		<meta charset="UTF-8" />
		<meta name="description" content="Abyss - The Tsuru web admin">
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/bootstrap-responsive.min.css" />
		<link rel="stylesheet" href="{{ STATIC_URL}}css/abyss.css" />
		{% block extra_css %}
		{% endblock extra_css %}
	</head>
	<body>
		{% include "navbar.html" %}

		{% block sidebar %}
		{% include "sidebar.html" %}
		{% endblock %}

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="page-header">
						{% block header %}{% endblock %}
					</div>
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<ul class="breadcrumb">
				<li><a href="/"><i class="icon-home"></i> {% trans 'Home' %}</a><span class="divider">/</span></li>
				{% block breadcrumb %}{% endblock %}
			</ul>
		</div>

		{% include "messages.html" %}

		{% block content %}
		{% endblock %}


		<script src="{{ STATIC_URL}}js/jquery.min.js"></script>
		<script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
		<script src="{{ STATIC_URL }}js/language.js"></script>
		{% block extra_js %}
		{% endblock %}
	</body>
</html>
