<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>
            <a class="brand" href="#">Abyss</a>
            <div class="nav-collapse">
                <ul class="nav">
                    {% if not request.session.tsuru_token %}
                        <li id="login"><a href="/">Login</a></li>
                        <li id="signup"><a href="/signup">Sign up</a></li>
                    {% endif %}
                    {% if request.session.tsuru_token %}
                        <li><a href="/key">Key</a></li>
                        <li><a href="/logout">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
