{% load gravatar %}
<div class="sidebar">
	<div class="inner">
		<div class="container-fluid">
			<div class="nav-collapse collapse">
				<ul class="profile">
					{% gravatar request.session.username 100 %}
					{{ request.session.username }}
				</ul>
			</div>
			<div class="nav">
				<li{% if active == "apps" %} class="active"{% endif %}>
				<a href="{% url 'list-app' %}">
					<span>Apps</span>
				</a>
				</li>
				<li{% if active == "services" %} class="active"{% endif %}>
				<a href="{% url 'service-list' %}">
					<span>Services</span>
				</a>
				</li>
				<li{% if active == "teams" %} class="active"{% endif %}>
				<a href="{% url 'team-list' %}">
					<span>Teams</span>
				</a>
				</li>
			</div>
		</div> <!-- /container-user -->
		{% if request.session.is_admin == True %}
		<div class="admin-menu container-fluid">
				<h4>Admin Menu</h4>
				<div class="nav-collapse collapse">
					<div class="nav">
						<li{% if active == "nodes" %} class="active"{% endif %}>
						<a href="{% url 'list-node' %}">
							<span>Docker</span>
						</a>
						</li>
						<li{% if active == "deploys" %} class="active"{% endif %}>
						<a href="{% url 'list-deploys' %}">
							<span>Deploys</span>
						</a>
					</div>
				</div>
		</div><!--/container-admin -->
		{%  endif %}
	</div> <!-- /inner -->
	<div class="report-issue">
	    <a href="https://github.com/globocom/abyss/issues?state=open">Report an issue</a>
    </div>
</div>
