
<div class="sidebar">
	<div class="inner">
		<div class="container-fluid">
	        <div class="report-issue">
	            <a href="https://github.com/globocom/abyss/issues?state=open">Report an issue</a>
            </div>
			<ul class="nav">
				<li{% if active == "apps" %} class="active"{% endif %}>
				<a href="{% url 'list-app' %}">
					<span>Apps</span>
				</a>
				</li>
				<li{% if active == "services" %} class="active"{% endif %}>
				<a href="{% url 'service-list' %}">
					<span>Services</span>
				</a>
				</li>
				<li{% if active == "teams" %} class="active"{% endif %}>
				<a href="{% url 'team-list' %}">
					<span>Teams</span>
				</a>
				</li>
			</ul>
		</div> <!-- /container -->
	</div> <!-- /subnavbar-inner -->
</div>
