h1 {
  font-family: 'Open Sans';
  font-size: 34px;
  letter-spacing: -1.5px;
  font-weight: bold;
  color: #2e2e2e;
  line-height: 1.2;
}

.events.table {
  font-family: Open Sans;
  font-size: 14px;
  margin-top: 20px;
}

.events tr {
  border-bottom: 2px solid #ddd;
}

.events thead {
  background-color: #ddd;
  color: #333;
  font-weight: bold;
  line-height: 1.1;
}

.events.table th {
  padding: 14px 0 14px 14px;
}

.events.table td {
  padding: 0;
}

.events.table td a {
  display: block;
  padding: 14px 0 14px 14px;
  color: inherit;
}

.events.table td.status-col a {
  padding: 12px 0 12px 14px;
}

.events.table td a:hover,
.events.table td a:visited,
.events.table td a:focus {
  text-decoration: none;
  color: inherit;
}

.events.table tr:hover a {
  color: #fff;
}

.events tbody tr:hover {
  background-color: #0769de;
}

.events tr:hover .status-block {
  color: #fff;
}

.events .status-block {
  padding: 2px 5px 2px 5px;
  display: inline-block;
  border-radius: 5px;
}

.events a {
  color: #2e2e2e;
}

.events .status-success {
  color: #527c2b;
}

.events .status-running .status-block {
  background-color: #333;
  color: #fff;
}

.events .status-error .status-block {
  color: #fff;
  background-color: #bc2e1b;
}
