body {
	padding-bottom: 40px;
}

ul.no-style {
	list-style-type: none;
}

.menu.span12 {
	background-color: #222233;
	position: fixed;
	z-index: 10;
	border-bottom: 1px solid #4D4C4C;
}

.logo-tsuru {
	max-width: 100px;
	padding: 13px 13px 13px;
	display: inline-block;
}

.drop {
	display: inline-block;
	float: right;
	position: relative;
	right: 35px;
	top: 15px;
}

.userbar.span3 {
	margin: 0;
	height: 100%;
	position: fixed;
	background-color: #222233;
	top: 48px;
	opacity: 0.9;
}

.content {
	padding-bottom: 5px;
}

.content.span9 {
	float: right;
	margin-top: 50px;
}

.sidebar{
	height: 100%;
}

.sidebar .nav {
	display: list-item;
	margin-top: 10px;
	padding-left: 40px;
}

.sidebar .nav > li {
	list-style: none outside none;
	margin: 0;
	min-width: 90px;
	padding: 0;
}

.sidebar .nav > li.active > a {
	background: none repeat scroll 0 0 #222233;
	color: #fff;
}

.sidebar .nav > li > a {
	color: #fff;
	display: block;
	font-size: 13px;
	height: 100%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	line-height: 50px;
}

.sidebar .nav > li > a:hover {
	background-color: transparent;
	font-weight: bold;
}

.sidebar .nav > .active {
	font-weight: bold;
}

.sidebar .profile {
	margin: 0;
	padding-top: 10px;
	color: #fff;
	text-align: center;
}

.menu.span12 .drop > li > a {
	outline: 0 none;
}

.sidebar .inner {
	height: 100%;
}

.sidebar .gravatar {
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.dropdown-menu {
	position: absolute;
	right: 10px;
	left: inherit;
}

select {
	margin: 0;
}

.admin-menu {
	color: #fff;
	border-top: 3px solid #fff;
}

.report-issue {
	color: #fff;
	position: absolute;
	bottom: 55px;
	padding-left: 40px;
}

.report-issue a {
	color: #fff;
	text-decoration: none;
}

.span10.app-teams {
	padding-bottom: 5px;
}

.table th, .table td {
	text-align: center;
	vertical-align: middle;
}
