body {
	padding-bottom: 40px;
}

ul.no-style {
	list-style-type: none;
}

.menu.span3 {
	margin: 0;
	height: 100%;
	position: fixed;
	background-color: #222233;
}

.content.span9 {
	float: right;
}

.sidebar{
	height: 100%;
}

.sidebar .nav {
	border-left: 1px;
	border-right: 1px;
	display: inline-block;
	margin: 0;
	padding-left: 40px;
}

.sidebar .nav > li {
	border-left: 1px;
	border-right: 1px;
	list-style: none outside none;
	margin: 0;
	min-width: 90px;
	padding: 0;
}

.sidebar .nav > li.active > a {
	background: none repeat scroll 0 0 #222233;
	color: #fff;
}

.sidebar .nav > li > a {
	color: #fff;
	display: block;
	font-size: 13px;
	height: 100%;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	line-height: 50px;
}

.sidebar .nav > li > a:hover {
	background-color: transparent;
	font-weight: bold;
}

.sidebar .nav > .active {
	font-weight: bold;
}

.sidebar .profile {
	border-left: 1px;
	border-right: 1px;
	margin: 0;
	padding-top: 35px;
}

.sidebar .profile > li {
	border-left: 1px;
	border-right: 1px;
	list-style: none outside none;
	margin: 0;
	min-width: 90px;
	padding: 0;
	text-align: center;
}

.sidebar .profile > li.active > a {
	background: none repeat scroll 0 0 #222233;
	color: #fff;
}

.sidebar .profile > li > a {
	color: #fff;
	display: block;
	font-size: 13px;
	height: 100%;
	outline: 0 none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
	line-height: 50px;
	text-decoration: none;
}

.sidebar .inner {
	height: 100%;
}

.sidebar .gravatar {
	border-radius: 100%;
	display: block;
	margin: 0 auto;
}

.caret {
	border-top: 4px solid #fff;
	position: fixed;
	top: 151px;
}

.dropdown-menu {
	position: absolute;
}

select {
	margin: 0;
}

.report-issue {
	color: #fff;
	position: absolute;
	bottom: 25px;
	padding-left: 40px;
}

.report-issue a {
	color: #fff;
	text-decoration: none;
}