.app-item, .app-log .log, .app-details .details {
    border: 1px solid #D9D9D9;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0px 25px #D9D9D9;
       -moz-box-shadow: 0 0px 25px #D9D9D9;
            box-shadow: 0 0px 25px #D9D9D9;
}

.title {
    margin-bottom: 20px;
}

.app-item .app-name a {
    display: inline-block;
    line-height: 30px;
    padding: 5px 0px 5px 20px;
    width: 100%;
}

.app-item .app-name a:hover {
    background: #B2D1E5;
    text-decoration: none;
}

.app-item .option {
    vertical-align: middle;
}

.app-item .option i {
    display: block;
    margin: 0 auto;
    margin-top: 8px;
    padding-bottom: 8px;
}

.app-item .option a {
    display: inline-block;
    margin-left: -20px;
    padding: 5px 10px 5px 10px;
    width: 100%;
}

.app-item .option a:hover {
    text-decoration: none;
}

.app-item .app-services a:hover {
    background: #91D6D5;
}

.app-item .app-log a:hover {
    background: #60AA85;
}

.app-item .app-collaborators a:hover {
    background: #47834B;
}

.app-item .app-settings a:hover {
    background: #A4A875;
}

.label-details {
    background-color: #B2D1E5;
}

.label-services {
    background-color: #91D6D5;
}

.label-log {
    background-color: #60AA85;
}

.label-collaborators {
    background-color: #47834B;
}

.label-settings {
    background-color: #A4A875;
}

.my-label {
    font-weight: 500;
    font-size: 16px;
    padding-bottom: 2px;
}

.app-log .log ul {
    margin-top: 10px;
}

.app-log .log li {
    list-style-type: none;
}

.app-details .details {
    padding: 10px 0px 0px 10px;
}

.app-menu {
    margin-top: 50px;
}

.circle {
    background: #F2F2F2;
    height: 120px;
    width: 120px;
    text-align: center;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
}

.circle a, .circle span {
    color: #777777;
    display: inline-block;
    padding-bottom: 52px;
    padding-top: 52px;
    text-decoration: none;
    width: 100%;
}

.circle a:hover {
    color: #FCFCFC;
}

.circle-selected {
    background: #DCDCDA;
}

.services-circle:hover {
    background: #91D6D5;
    border-radius: 50%;
}

.log-circle:hover {
    background: #60AA85;
    border-radius: 50%;
}

.collaborators-circle:hover {
    background: #47834B;
    border-radius: 50%;
}

.settings-circle:hover {
    background: #A4A875;
    border-radius: 50%;