.apply-btn {
	display: none;
	margin: 41px 0 0 0;
}

#h-slider {
	width: 300px;
	margin: 46px 0 0 0;
}

.units-box {
	height: 95px;
}

/* .stat-boxes .right { */
/* 	padding: 9px 2px 7px 0; */
/* } */

