{% extends "base.html" %}

{% load i18n %}

{% block sidebar %}
{% include "sidebar.html" with active="services" %}
{% endblock %}

{% block header %}
<h1>{% trans 'Add service instance for' %} {{ service.name }}</h1>
{% endblock %}

{% block breadcrumb %}
<li class="active"><a href="{% url 'service-list' %}"> {% trans 'Services' %}</a></li>
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<form action="" method="post">
				{% csrf_token %}
				<fieldset>
					<div class="control-group">
						<label>{% trans 'Name' %}</label>
						<input type="text" class="input-xlarge" name="name">
					</div>
					<button class="btn primary" type="submit">{% trans 'Add' %}</button>
				</fieldset>
			</form>
		</div>
	</div>
</div>
{% endblock %}

