{% extends "base.html" %}

{% block extra_css %}
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.widget.css" />
<link rel="stylesheet" href="{{ STATIC_URL }}css/abyss.services.css" />
{% endblock %}

{% block sidebar %}
{% include "sidebar.html" with active="services" %}
{% endblock %}

{% block content %}
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			<div class="page-header">
			 	<h1>Services</h1>
			</div>
		</div>
	</div>
</div>
<ul class="breadcrumb">
	<li class="active"><a href="#"><i class="icon-home"></i> Home</a></li>
</ul>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% for service in services %}
			<div class="row-fluid">
				<div class="span12">
					<div class="widget">
						<div class="title">
							<span class="icon">
								<i class="icon-file"></i>
							</span>
							<h5>{{ service.service }}</h5>
						</div>
						<div class="content">
							<ul class="no-style">
								{% for instance in service.instances %}
								<li>
								<a href="{% url 'service-detail' instance %}">{{ instance }}</a>
								</li>
								{% endfor %}
								<li>
								<a class="btn btn-primary btn-mini" href="{% url 'service-add' service.service %}">Add new instance</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

