{% extends "base.html" %}

{% block sidebar %}
{% include "sidebar.html" with active="services" %}
{% endblock %}

{% block content %}
<div id="content-header">
	<h1>Services</h1>
</div>
<div id="breadcrumb">
	<a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
</div>
<div class="container-fluid">
	<div class="row-fluid">
		<div class="span12">
			{% for service in services %}
			<div class="row-fluid">
				<div class="span6">
					<div class="widget-box">
						<div class="widget-title">
							<span class="icon">
								<i class="icon-file"></i>
							</span>
							<h5>{{ service.service }}</h5>
						</div>
						<div class="widget-content nopadding">
							<ul class="recent-posts">
								{% for instance in service.instances %}
								<li>
									<a href="">{{ instance }}</a>
								</li>
								{% endfor %}
								<li>
								<a class="btn btn-primary btn-mini" href="#">Add new instance</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
{% endblock %}

