{% extends "apps/base.html" %}
{% load staticfiles %}

{% block extra_css %}
{{ block.super }}
<link rel="stylesheet" href="{% static "css/abyss.widget.css" %}">
<link rel="stylesheet" href="{% static "css/detail.css" %}">
{% endblock %}

{% block navbar %}
    {% include "apps/navbar.html" with active="metrics" %}
{% endblock %}

{% block app-content %}
	<div class="row-fluid metrics-container">
		<div class="span12">
				<div class="content">
						<div class="row-fluid">
							<div class="span12" id="metrics-container">
							</div>
						</div>
				</div>
		</div>
	</div>
{% endblock %}

{% block extra_js %}
<script src="{% static "js/metrics.js" %}"></script>
{% endblock %}
